* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

#container {
  min-height: 100%;
  padding-bottom: 100px; /*this is the height of the footer*/
}

#main {
  overflow: auto; /*this will give us the scroll bars when more content is on the page*/
}

.header {
  width: 100%;
  height: 80px;
  display: block; /*What's the function of display block?*/
  background-color: #0000ff; 
}

.inner-header {
  width: 1000px;
  height: 100%;
  display: block; /*What's the function of display block?*/
  margin: 0 auto;
  color: #FCF3CF;
}

.logo-container {
 height: 100%;
  display: table; /*What's the function of display table?*/
  float: left;

}

.logo {
  height: 100%;
  display: table-cell; /*What's the function of display table-cell?*/
  vertical-align: middle;
}

.nav {
  height: 100%;
  float: right;
}

.nav a {
  height: 100%;
  display: table;
  float: left;
  padding: 0px 20px; /*first is horizontal (which is 0 bc we already centered it) then vertical(
                       is 20 because we want space between the words*/
}

/*
.nav a: last-child {
  padding-right: 0;
} 
*/

.nav a li {
  display: table-cell;
  vertical-align: middle; /*positions the words in the middle vertically*/
  color: #FCF3CF;
  font-family: 'Montserrat';
  font-size: 16px;
}

.row1 {
  clear: both;
  padding: 12px;
  vertical-align: middle;
}

.box-photo1 {
  margin-left: 0;
  margin-right: 10px;
  /*background: #f9f9f9;*/
  padding: 7.5px;
  text-align: center;
  float: left; /*allows for divs to be placed next to each other horizontally*/
  /*background: red;*/

}

.inner-photo1 {
  box-shadow: 5px 5px 5px;
}

.box-photo2 {
  margin-left: 0;
  margin-right: 10px;
  /*background: #f9f9f9;*/
  padding: 7.5px;
  text-align: center;
  float: left; /*allows for divs to be placed next to each other horizontally*/
  /*background: red;*/

}

.inner-photo2 {
  box-shadow: 5px 5px 5px;
}

.box-photo3 {
  margin-left: 0;
  margin-right: 10px;
  /*background: #f9f9f9;*/
  padding: 7.5px;
  text-align: center;
  float: left; /*allows for divs to be placed next to each other horizontally*/
  /*background: red;*/

}

.inner-photo3 {
  box-shadow: 5px 5px 5px;
}

.row2 {
  clear: both;
  padding: 12px;
  vertical-align: middle;
}

.box-photo4 {
  margin-left: 0;
  margin-right: 10px;
  /*background: #f9f9f9;*/
  padding: 7.5px;
  text-align: center;
  float: left; /*allows for divs to be placed next to each other horizontally*/
  /*background: red;*/

}

.inner-photo4 {
  box-shadow: 5px 5px 5px;
}

.box-photo5 {
  margin-left: 0;
  margin-right: 10px;
  /*background: #f9f9f9;*/
  padding: 7.5px;
  text-align: center;
  float: left; /*allows for divs to be placed next to each other horizontally*/
  /*background: red;*/

}

.inner-photo5 {
  box-shadow: 5px 5px 5px;
}

.box-photo6 {
  margin-left: 0;
  margin-right: 10px;
  /*background: #f9f9f9;*/
  padding: 7.5px;
  text-align: center;
  float: left; /*allows for divs to be placed next to each other horizontally*/
  /*background: red;*/

}

.inner-photo6 {
  box-shadow: 5px 5px 5px;
}

.row3 {
  clear: both;
  padding: 12px;
  vertical-align: middle;
}

.box-photo7 {
  margin-left: 0;
  margin-right: 10px;
  /*background: #f9f9f9;*/
  padding: 7.5px;
  text-align: center;
  float: left; /*allows for divs to be placed next to each other horizontally*/
  /*background: red;*/

}

.inner-photo7 {
  box-shadow: 5px 5px 5px;
}

.box-photo8 {
  margin-left: 0;
  margin-right: 10px;
  /*background: #f9f9f9;*/
  padding: 7.5px;
  text-align: center;
  float: left; /*allows for divs to be placed next to each other horizontally*/
  /*background: red;*/

}

.inner-photo8 {
  box-shadow: 5px 5px 5px;
}

.box-photo9 {
  margin-left: 0;
  margin-right: 10px;
  /*background: #f9f9f9;*/
  padding: 7.5px;
  text-align: center;
  float: left; /*allows for divs to be placed next to each other horizontally*/
  /*background: red;*/

}

.inner-photo9 {
  box-shadow: 5px 5px 5px; /*left, right, blur*/
}

.row4 {
  clear: both;
  padding: 12px;
  vertical-align: middle;
}

.box-photo10 {
  margin-left: 0;
  margin-right: 10px;
  /*background: #f9f9f9;*/
  padding: 7.5px;
  text-align: center;
  float: left; /*allows for divs to be placed next to each other horizontally*/
  /*background: red;*/

}

.inner-photo10 {
  box-shadow: 5px 5px 5px;
}

.box-photo11 {
  margin-left: 0;
  margin-right: 10px;
  /*background: #f9f9f9;*/
  padding: 7.5px;
  text-align: center;
  float: left; /*allows for divs to be placed next to each other horizontally*/
  /*background: red;*/


}

.inner-photo11 {
  box-shadow: 5px 5px 5px;
}

.box-photo12 {
  margin-left: 0;
  margin-right: 10px;
  /*background: #f9f9f9;*/
  padding: 7.5px;
  text-align: center;
  float: left; /*allows for divs to be placed next to each other horizontally*/
  /*background: red;*/


}

.inner-photo12 {
  box-shadow: 5px 5px 5px;
}

/*.parallax {
   background: url("Clinton's Scholarship Video.mp4") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;*/


#footer {
  height: 100px;
  /*z-index: 19;*/
  /*min-width: 100%;*/
  background-color: #0000ff;
  position: relative;
  margin-top: -100px; /*this is negative because we set the height of the container to 100px, so
                       it is pushing the footer below the view of the window.  Therefore, we need
                       to make it negative in order for the footer to be visible.*/
  clear: both;
  color: #ffffff;

}

p {
  letter-spacing: 1px;
  text-align: center;
  color: #000000;
}